/* Selectors in HTML*/
h1 {
    font-family: 'Fondamento';
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    font-family: "Roboto";
    text-align: center;
}

#c-align {
    text-align: center;
}

.laborpart-text {
    color: #0000ff;
}

.employment-text {
    color: #8000ff;
}

.unemployment-text {
    color: #ff0000;
}

.fem-unemployment-text {
    color: #ff00bf;
}
.y-unemployment-rate {
    color: #ffa600;
}

