/* Selectors in HTML*/
h1 {
    font-family: 'Fondamento';
    padding: 44px;
    text-align: center;
}

h2 {
    padding: 22px;
    text-align: center;
}

h3 {
    padding: 30px;
}

h4{
    font-size: 11px;
}

p {
    font-family: "Roboto";
    text-align: center;
}

.italik {
    font-style: italic;
}

.thicc {
    font-weight: bold;
}
#c-align {
    text-align: center;
}

.laborpart-text {
    color: #0000ff;
}

.employment-text {
    color: #8000ff;
}

.unemployment-text {
    color: #ff0000;
}

.fem-unemployment-text {
    color: #ff00bf;
}
.y-unemployment-text {
    color: #ffa600;
}

.agriculture-text {
    color: #017a01;
}

.industry-text {
    color: #7d7d7d;
}

.services-text {
    color: #aa0000;
}
